@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

/* Background Styles */
body {
    margin-left: 24%;
    margin-top: 113px;
}

/* Leave Button */
button.escButton {
    position: fixed;
    top: 12px;
    left: 12px;
    width: 50px;
    height: 25px;
}

/* Header Styles */
div.header {
    height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding-bottom: 10px;
}
/* Heading Styles */
h1 {
    text-align: center;
}
h1.geo-regular {
    font-family: "Geo", sans-serif;
    font-weight: 900;
    font-style: normal;
}
span.fa-tree {
    font-size: xx-large;
    color: rgb(116, 209, 87);
}

/* Side Panel Styles */
div.sidePanel {
    width: 24%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 110px;
}
h3.finance {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h3.financeHeading {
    margin-top: 10px;
}
div.financeBackground {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Button Styles */
button {
    margin: auto;
    display: block;
    background-color: beige;
    border-top: 2px solid darkolivegreen;
    border-left: 2px solid darkolivegreen;
    width: 300px;
}
button:hover {
    border-bottom: 2px solid darkolivegreen;
    border-right: 2px solid darkolivegreen;
    background-color: orange;
}
a {
    text-decoration: none;
}

/* Page Content */
h4 {
    text-align: center;
    vertical-align: top;
    font-family: arial;
    padding: 5px;
    margin-bottom: 5px;
}
img {
    width: 150px;
    text-align: right;
    margin-left: 20%;
    display: inline-block;
}
p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
.priceText {
    display: inline;
}

/* Page specific styles */
/* Big Camera Styles */
body.bigCameraBody {
    background-color: rgb(165,162,162);
}
div.bigCameraHeader {
    background-color: whitesmoke;
}
div.bigCameraSidePanel {
    background-color: rgb(255, 35, 35);
}
div.bigCameraFinanceBackground {
    background-color: rgb(255, 35, 35);
}
h1.bigCamerah1 {
    color: rgb(221,32,32);
    font-family: 'Tourney';
}

/* Eucalyptus Tree Styles */
div.eucalyptusTreeHeader {
    background-color: rgb(51, 39, 58);
}
div.eucalyptusTreeSidePanel {
    background-color: rgb(116, 209, 87);
}
h1.eucalyptusTreeh1 {
    color: rgb(116, 209, 87);
    font-family: 'Tourney';
}

/* FaceyBook Styles */
body.faceyBookBody {
    background-color: whitesmoke;
}
div.faceyBookHeader {
    background-color: rgb(165,162,162);
}
div.faceyBookSidePanel {
    background-color: rgb(45, 101, 246);
}
h1.faceyBookh1 {
    color: rgb(45, 101, 246);
    font-family: 'Tourney';
}

/* EZGames Styles */
body.EZGamesBody {
    background-color: rgb(165,162,162);
}
div.EZGamesHeader {
    background-color: rgb(45, 101, 246);
}
div.EZGamesSidePanel {
    background-color: rgb(229, 81, 79);
}
h1.EZGamesh1 {
    color: rgb(229, 81, 79);
    font-family: 'Tourney';
}

/* IBAY Styles */
div.IBAYHeader {
    background-color: white;
}
span.I {
    color: rgb(212, 72, 70);
    font-family: "Outfit", sans-serif;
}
span.B {
    color: rgb(48, 103, 205);
    font-family: "Outfit", sans-serif;
}
span.A {
    color: rgb(236, 180, 67);
    font-family: "Outfit", sans-serif;
}
span.Y {
    color: rgb(148, 185, 67);
    font-family: "Outfit", sans-serif;
}

/* Mom and Pop Styles */
body.momAndPopBody {
    background-color: rgb(240, 223, 205);
}
div.momAndPopHeader {
    background-color: rgb(162, 128, 102);
}
div.momAndPopSidePanel {
    background-color: rgb(126, 111, 100);
}
h1.momAndPoph1 {
    color: rgb(240, 223, 205);
    font-family: 'Tourney';
}