@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');

/* Title animation */
@keyframes titleIntro {
    from{opacity: 0}
    to{opacity: 1}
}

/* Styles for the webpage elements */
h1 {
    color: rgb(255,48,54);
    font-family: "Geo";
    margin-left: 10px;
    animation: titleIntro 900ms linear;
} 

body {
    background-color: rgb(227,207,170);
}

/* Button styling */
button {
    display: block;
    padding: 5px 18px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: rgb(224,175,70);
    border: 2px solid rgb(94,41,47);
}
button:hover {
    background-color: rgb(245,91,29);
    font-weight: bold;
}
button.howButton {
    margin-top: 20px;
}
a {
    text-decoration: none;
}

/* Animations for the title ("Retro Family")
 specific to each letter */

span.T1 {
    opacity: 0;
    animation: titleIntro 0s 100ms forwards;
}
span.T2 {
    opacity: 0;
    animation: titleIntro 0s 200ms forwards;
}
span.T3 {
    opacity: 0;
    animation: titleIntro 0s 300ms forwards;
}
span.T4 {
    opacity: 0;
    animation: titleIntro 0s 400ms forwards;
}
span.T5 {
    opacity: 0;
    animation: titleIntro 0s 500ms forwards;
}
span.T6 {
    opacity: 0;
    animation: titleIntro 0s 600ms forwards;
}
span.T7 {
    opacity: 0;
    animation: titleIntro 0s 700ms forwards;
}
span.T8 {
    opacity: 0;
    animation: titleIntro 0s 800ms forwards;
}
span.T9 {
    opacity: 0;
    animation: titleIntro 0s 900ms forwards;
}

/* At this point the animation changes to dual left->right fade in */
span.T10 {
    opacity: 0;
    animation: titleIntro 0.5s 1.4s forwards;
}
span.T11 {
    opacity: 0;
    animation: titleIntro 0.5s 1.8s forwards;
}
span.T12 {
    opacity: 0;
    animation: titleIntro 0.5s 2.2s forwards;
}
span.T13 {
    opacity: 0;
    animation: titleIntro 0.5s 2.6s forwards;
}
span.T14 {
    opacity: 0;
    animation: titleIntro 0.5s 3s forwards;
}
span.T15 {
    opacity: 0;
    animation: titleIntro 0.5s 1.4s forwards;
}
span.T16 {
    opacity: 0;
    animation: titleIntro 0.5s 1.8s forwards;
}
span.T17 {
    opacity: 0;
    animation: titleIntro 0.5s 2.2s forwards;
}
span.T18 {
    opacity: 0;
    animation: titleIntro 0.5s 2.6s forwards;
}
span.T19 {
    opacity: 0;
    animation: titleIntro 0.5s 3s forwards;
}
span.T20 {
    opacity: 0;
    animation: titleIntro 0.5s 3.4s forwards;
}